header {
    background-image: url(/Images/CSM-desktop/exhibits.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40rem;
    z-index: 1;
}

.exhibits-container {
    width: 100vw;
    height: fit-content;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #0D0D0D;
}

.evolution,
.biology-medicine,
.robotics-AI,
.cosmology,
.ecology {
    box-sizing: border-box;
    padding: 5rem; 
    height: fit-content;
}

h1, h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0; 
}

.exhibits-container img {
    width: 100vw;
}

.evolution {
   color: #C4C5CA;
}

.biology-medicine {
    color: #C1F0FE;
 }

.robotics-AI {
    color: #E5D6BF;
 }

.cosmology {
    color: #CAC9D1;
 }

.ecology {
    color: #E7EFF8;
 }

@media only screen and (min-width: 950px) {
    header {
        height: 70rem;
    }
    
    .exhibits-container {
        font-size: 2.5rem;
        background-color: #efe3cc;
    }

    h1, h2 {
        font-size: 3rem;
    }

    .evolution,
    .biology-medicine,
    .robotics-AI,
    .cosmology,
    .ecology {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 75rem;
        width: initial;
        background-position: center;
        margin: 5rem 15rem 5rem 15rem;
        border-radius: 2rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .evolution {
            color: #C4C5CA;
            background-image: url(/Images/CSM-desktop/evolution.png);
        }

    .biology-medicine {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/biology.png);
        align-items: end;
    }

    .robotics-AI {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/robotics.png);
    }

    .cosmology {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/cosmology.png);
        align-items: end;
    }

    .ecology {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/ecology.png);
    }
    
    .exhibits-container h1,
    .exhibits-container h2,
    .exhibits-container p{
        position: relative;
        width: 30rem;
        left: 3rem;
        text-align: left;
    }

        .cosmology h2,
        .cosmology p,
        .biology-medicine h2,
        .biology-medicine p {
            position: relative;
            right: 3rem;
            left: 0;
        } 

}

@media only screen and (min-width: 650px) and (max-width: 949px) {
    header {
        height: 55rem;
    }

    .exhibits-container {
        font-size: 1.7rem;
        background-color: #efe3cc;
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    .evolution,
    .biology-medicine,
    .robotics-AI,
    .cosmology,
    .ecology {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40rem;
        width: initial;
        background-position: center;
        margin: 5rem;
        border-radius: 2rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .evolution {
            color: #C4C5CA;
            background-image: url(/Images/CSM-desktop/evolution.png);
        }

    .biology-medicine {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/biology.png);
        align-items: end;
    }

    .robotics-AI {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/robotics.png);
    }

    .cosmology {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/cosmology.png);
        align-items: end;
    }

    .ecology {
        color: #C4C5CA;
        background-image: url(/Images/CSM-desktop/ecology.png);
    }
    
    .exhibits-container h1,
    .exhibits-container h2,
    .exhibits-container p{
        position: relative;
        width: 20rem;
        left: 3rem;
        text-align: left;
    }

        .cosmology h2,
        .cosmology p,
        .biology-medicine h2,
        .biology-medicine p {
            position: relative;
            right: 3rem;
            left: 0;
        } 
}

@media only screen and (max-width: 649px) {
.evolution {
    background-color: #0D0D0D;
    color: #C4C5CA;
 }
 
 .biology-medicine {
     background-color: #001B5D;
     color: #C1F0FE;
  }
 
 .robotics-AI {
     background-color: #382717;
     color: #E5D6BF;
  }
 
 .cosmology {
     background-color: #5A130D;
     color: #CAC9D1;
  }
 
 .ecology {
     background-color: #374F7F;
     color: #E7EFF8;
  }
}