header {
    background-image: url(/Images/CSM-desktop/Home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 130vw;
    z-index: 1;
    color: white;
}

.header-text {
    width: 13rem;
    left: 4rem;
    top: 9rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 300;
}

header h1 {
    font-size: 2rem;
    font-weight: 300;
}

.home-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    text-align: center;
}

/*info box*/

.info {
    background-color: #282630;
    height: 11rem;
    color: white;
    z-index: 1;
}

.info-content {
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-around;
}

.info p {
    width: 10rem;
}

/*join us box*/

.join-us {
    background-image: url(/Images/CSM-desktop/join-us.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: rgb(134, 143, 162 , .80);
    width: 34rem;
    height: 34rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square p {
    padding: 0 2rem;
}

/*explore box*/

.explore {
    background-color: #BB836A;
    display: flex;
    flex-direction: column;
}

.explore p {
    padding: 0 4rem 3rem 4rem;
}

.explore img {
    width: 100vw;
}

.button-img {
    background-image: url(/Images/CSM-desktop/explore-learn-more.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 80vw;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    text-decoration: none;
}

input[type="button"] {
    color: #EFE3CC;
    background-color: #FF9D71;
    cursor: pointer;
    border-radius: 9rem;
    border: none;
    padding: 0.7rem 1rem;
}

/*hours box*/
.opening-hours {
    background-color: #868FA1;
    width: 100vw;
    height: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/*Exhibits*/
.exhibits {
    background-color: #697188;
}

@media only screen and (min-width: 950px) {

}

@media only screen and (min-width: 600px) and (max-width: 949px) {
    
}