header {
    background-image: url(/Images/CSM-desktop/visit-contact.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
    z-index: 1;
}

.visit-contact-container {
    max-width: 100%;
    height: fit-content;
    font-size: 1.7rem;
    font-weight: 300;
    background-color: #EFE3CC;
}

/* find us */

.find-us-box {
    width: 100%;
    height: 250px;
    background-color: #EFE3CC;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 40% 60%;
}

.map {
    width: 200px;
    height: 155px;
    align-self: center;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

h1 {
    font-size: 1.8rem;
    align-self: end;
    justify-self: center;
    margin: 0 10px 0 0
}

.find-us-box p {
    grid-column: 1;
    justify-self: center;
}

/* information */

.info-box {
    width: 100%;
    height: 425px;
    background-color: #4A8E8E;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 45% 55%;
    box-sizing: border-box;
    padding: 20px;
}

.info-box p {
    margin: 10px;
    color: white;
}

.food, .shopping {
    height: 17vw;
    width: 17vw;
}

.grid1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}

.grid2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
}

.grid3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
}

.grid4 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 150px;
}

.grid5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid6 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.grid7 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.grid8 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.grid9 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

.grid10 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
    justify-self: end;
    align-self: end;
    padding-right: 10px;
}

h1, h2, .grid2, .grid4, .grid6, .grid8 {
    font-weight: 500;
}

/* opening hours */

.hours-box {
    width: 100%;
    height: 80%;
    background-color: #EFE3CC;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 70% 30%;
    box-sizing: border-box;
    padding: 30px;
}

.hours, .hours-box h2 {
    justify-self: center;
}

.time {
    height: 25vw;
    width: 25vw;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    align-self: center;
    padding-left: 10px;
}

h2 {
    font-size: 1.8rem;
    padding-right: 50px;
}

/* contact us */

.contact-box {
    width: 100%;
    height: 83%;
    background-color: #88B4B4;
    color: white;
    box-sizing: border-box;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}

.contact-box h2 {
    text-align: center;
}

.contact {
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    color: black;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
    border-radius: 3px;
    border: none;
}

textarea {
    height: 9rem;
    resize: none;
}

textarea::placeholder,
input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input[type="button"] {
    color: white;
    background-color: #EF8399;
    cursor: pointer;
    border-radius: 90px;
    width: 80px;
}

.btn:hover {
    border: 2px solid;
}

input[type="button"]:hover {
    color: #EF8399;
    background-color: white;
    border-color: #EF8399;
}

/* phone and email */

.nmb-email-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.email,
.phone {
    width: 10vw;
    height: 10vw;
}

@media only screen and (min-width: 950px) {
    header {
        height: 800px;
    }
    
    .visit-contact-container {
        font-size: 2.5rem;
        font-weight: 300;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 4.5fr 4fr 1fr;
        justify-items: center;
    }

    h1, h2 {
        font-size: 2.8rem;
    }

    .hours-box,
    .find-us-box {
        outline: 3px solid #DED1B7;
        width: 90%;
        height: 80%;
        align-self: center;
    }

    .hours-box {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .find-us-box {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .time {
        height: 10vw;
        width: 10vw;
        max-width: 144px;
        max-height: 144px;
    }

    h1 {
        align-self: center;
    }

    .map {
        height: 270px;
        width: 410px;
    }

    .info-box {
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .contact-box {
        height: 100%;
        align-items: center;
    }

    .grid4 {
        width: 200px;
    }

    .shopping, 
    .food {
        height: 9vw;
        width: 9vw;
        max-width: 129px;
        max-height: 129px;
    }

    .email, .phone {
        width: 100px;
        height: 100px;
    }

    #textarea {
        height: 200px;
    }

    form {
        text-align: center;
    }

    input[type="button"] {
        float: left;
        margin-left: 20px;
        height: 50px;
        width: 100px;
    }

    input,
    #textarea {
        font-size: 2rem;
    }

    .nmb-email-box {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 949px) {
    header {
        height: 550px;
    }
    
    .visit-contact-container {
        font-size: 2.5rem;
    }

    .info-box {
        grid-template-columns: 35% 65%;
    }

    h1, h2 {
        font-size: 2.7rem;
    }

    .grid3,
    .grid5,
    .grid7,
    .grid9 {
        max-width: 500px;
    }

    .hours-box {
        height: 100%;
    }

    .contact-box {
        align-items: center
    }
    
    .contact {
        width: 400px;
    }
    
    input {
       height: 35px;
    }
    
    textarea {
        height: 150px;
    }
    
    input[type="button"] {
        width: 110px;
        height: 40px;
        font-size: large;
    }

}

